<div class="mt-1 pt-1 border-top d-flex justify-content-between" *ngFor="let entry of stock">
  <div>
    <fa-layers class="fa-fw">
      <fa-icon [icon]="icons.square" size="lg"></fa-icon>
      <fa-layers-text class="fa-inverse font-weight-bold font-italic text-uppercase" content="{{entry.ownerType[0]}}" transform="shrink-2"></fa-layers-text>
    </fa-layers>
    <span>{{entry.ownerName}}</span>
    <span class="ml-1" *ngIf="entry.inventoryType" i18n>({ entry.inventoryType, select, PRIMARY {bag} ARMOR {arms} other {{{entry.inventoryType}}} })</span>
  </div>
  <div>
    <fa-icon [icon]="icons.hq" *ngIf="entry.highQuality"></fa-icon>
    <span class="badge badge-pill ml-1">{{entry.quantity}}</span>
  </div>
</div>