:host-context(.semantic-warning) span.badge {
    background-color: #ffc107;
}
:host-context(.semantic-success) span.badge {
    color: #fff;
    background-color: #28a745;
}
:host-context(.semantic-info) span.badge {
    color: #fff;
    background-color: dodgerblue;
}