<div>
  <div class="row">
    <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" 
          *ngFor="let inv of inventories" 
          [class.list-group-item-primary]="currentInventory === inv" 
          (click)="setCurrentInventory(inv)">
            {{inv.code}} <span class="badge badge-pill badge-secondary">{{inv.cells.length}}</span>
          </li>
        </ul>
    </div>
    <div class="col-md" *ngIf="currentInventory">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>id</th>
            <th>name</th>
            <th>category</th>
            <th>quality</th>
            <th>quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cell of currentInventory.cells">
            <td>{{cell.index}}</td>
            <td>{{cell.item.id}}</td>
            <td>{{cell.item.name}}</td>
            <td><span *ngIf="cell.item.category">{{cell.item.category.name}}</span></td>
            <td><fa-icon [icon]="icons.hq" *ngIf="cell.hq"></fa-icon></td>
            <td>{{cell.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>