<a class="wiki-link" [href]="wikiLink" target="wiki">
  <fa-layers class="fa-fw ml-1">
    <fa-icon [icon]="icons.square" size="lg"></fa-icon>
    <fa-layers-text class="fa-inverse" content="wiki" transform="shrink-6"></fa-layers-text>
  </fa-layers>
</a>