<nav class="nav nav-tabs mb-2" *ngIf="enableFilter">
  <div class="nav-link active" (click)="resetHorizontalFilter()">All</div>
  <div class="nav-link active" *ngFor="let filter of hFilters" (click)="applyFilter(filter)" [class.bg-warning]="filter.applied">{{filter.name}}</div>
</nav>

<!-- crystal table -->
<div class="row" *ngIf="crystals.length > 0">
  <div class="col-4">
    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th class="text-capitalize" *ngFor="let level of crystalLevels" i18n>
            {level.ordinal, select, 1 {shard} 2 {crystal} 3 {cluster}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of crystals" [class.d-none]="group.size === 0">
          <th>
            <span class="element-{{group.element.name}} badge" i18n>
              {group.element.ordinal, select, 1 {fire} 2 {ice} 3 {wind} 4 {earth} 5 {lightning} 6 {water}}
            </span>
          </th>
          <td *ngFor="let level of crystalLevels">
            <span class="" *ngIf="group[level.ordinal]">{{group[level.ordinal].count}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- toggle bar -->
<div class="d-flex justify-content-start mb-1">
  <form class="form-inline">
    <div class="form-check form-check-inline" *ngIf="stockInfo !== 'disabled'">
      <input id="show-stock" class="form-check-input" type="checkbox" name="showStockInfo" [(ngModel)]="showStockInfo">
      <label class="form-check-label" for="show-stock" i18n>Show stock</label>
    </div>
  </form>
</div>

<!-- material table -->
<div class="row" *ngFor="let category of categories">
  <div class="col-1 row-title pt-2 pr-0">{{category.name}}</div>
  <div class="col pl-0">
    <div class="card-columns">
      <div class="card text-black bg-light shadow-sm" *ngFor="let entry of getEntries(category)">
        <div class="card-body p-2">
          <!-- base info -->
          <div class="d-flex justify-content-between">
            <div>
              <span>{{entry.material.itemName}}</span>
              <app-item-wiki-link [itemName]="entry.material.itemName"></app-item-wiki-link>
            </div>
            <div>
              <span class="badge badge-pill badge-dark" [class.bg-success]="materialReady[entry.material.itemId]">{{entry.material.count}}</span>
              <fa-icon class="ml-1 forbidden-toggle" 
                [icon]="icons.ban" 
                [class.d-none]="!banMaterial"
                [class.text-danger]="banState[entry.material.itemId]" 
                (click)="toggleBan(entry.material)"></fa-icon>  
            </div>
          </div>
          <!-- stock info -->
          <div class="item-stock" *ngIf="showStockInfo">
              <app-item-stock [stock]="entry.stockInfo"></app-item-stock>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>