.row-title {
    font-size: 0.8rem;
}

.element-fire {
    background-color: coral;
    color: aliceblue;
}
.element-ice {
    background-color: lightskyblue;
}
.element-wind {
    background-color: aquamarine;
    color: darkgray;
}
.element-earth {
    background-color: burlywood;
}
.element-lightning {
    background-color: mediumorchid;
    color: aliceblue;
}
.element-water {
    background-color: aqua;
}

.item-stock {
    font-size: 0.9rem;
    background-color: aliceblue;
}

.nav {
    font-size: 1rem;
}

.card-columns {
    column-count: 4;
    column-gap: 0.4rem;
    font-size: 0.9rem;
}

.forbidden {
    opacity: 0.5;
}
