<div>
  <form class="form-inline justify-content-between mb-2">
    <input class="form-control form-control-sm flex-grow-1 mr-1" name="key" placeholder="item name/url" 
    [(ngModel)]="candidate.key" (keyup)="resolveCandidate()" i18n-placeholder>
  </form>
  <div *ngIf="categorized">
    <div class="row" *ngFor="let category of categorized.categories">
      <div class="col-2 row-title pt-2 pr-0">
        <span>{{category.name}}</span>
      </div>
      <div class="col pl-0">
        <div class="card-columns">
          <div class="card text-black bg-light" *ngFor="let item of categorized.get(category)">
            <div class="card-body p-2">
              <div class="d-flex justify-content-between">
                <div>
                  <span>{{item.name}}</span>
                  <app-item-wiki-link [item]="item"></app-item-wiki-link>
                </div>
                <fa-icon [icon]="icons.checked" [class.text-success]="candidate.selected[item.id]" (click)="toggleSelection(item)"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>