<div class="mb-2" *ngFor="let categoryGroup of categoryGroups">
  <div class="flex-wrap">
    <button class="btn btn-sm btn-outline-info" *ngFor="let cat of categoryGroup" [class.active]="currentCategory === cat" (click)="activateCategory(cat)">{{cat.name}}</button>
  </div>
</div>
<div class="card-columns">
  <div class="card" *ngFor="let cell of tabContent">
    <div class="card-body p-2">
      <div class="d-flex justify-content-between">
        <div>
          <span>{{cell.item.name}}</span>
          <app-item-wiki-link [item]="cell.item"></app-item-wiki-link>
        </div>
        <div>
          <fa-icon [icon]="icons.hq" *ngIf="cell.hq"></fa-icon>
          <span class="badge badge-pill badge-dark ml-1">{{cell.quantity}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="tabContent.length === 0">- <span i18n>Empty</span> -</div>