<div class="container app-root">
    <nav class="navbar navbar-expand-md navbar-light sticky-top bg-warning h4">
        <a class="navbar-brand text-light font-weight-bold">FFXIV-Tools</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/crafting" i18n>Crafting</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/inventory" i18n>Inventory</a>
                </li>
            </ul>
        </div>
        <app-player-character-selector></app-player-character-selector>
        <app-server-panel class="ml-2"></app-server-panel>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>