.text-small {
    font-size: 0.9rem;
}

.crafting-procedure {
    font-size: 0.9rem;
}

.card-columns {
    column-count: 4;
    column-gap: 0.5rem;
    font-size: 0.9rem;
}

.badge.badge-edit {
    display: inline-block;
}

[contenteditable]:focus {
    outline-width: 0px;
}