<div class="text-dark">
  <div class="card mb-2 shadow" *ngIf="itemSelector.collapse">
    <h4 class="card-header" i18n>Product List</h4>
    <div class="card-body pt-2">
      <div class="toolbar">
        <!-- add -->
        <div class="btn-group btn-group-sm mr-2" *ngIf="itemSelector.collapse">
          <button class="btn btn-primary" type="button" disabled>
            <span i18n>Add</span>
            <fa-icon class="text-light ml-1" [icon]="icons.add"></fa-icon>
          </button>
          <button class="btn btn-outline-dark" type="button" (click)="selectUsing('item-selector')">
            <span i18n>Search</span>
            <fa-icon class="ml-1" [icon]="icons.search"></fa-icon>
          </button>
          <button class="btn btn-outline-dark" type="button" (click)="selectUsing('fashion-gallery')">
            <span i18n>Fashion</span>
            <fa-icon class="ml-1" [icon]="icons.fashion"></fa-icon>
          </button>
          <button class="btn btn-outline-dark" type="button" (click)="selectUsing('equipment-upgrade')">
            <span i18n>Gear Upgrade</span>
            <fa-icon class="ml-1" [icon]="icons.upgrade"></fa-icon>
          </button>
        </div>
        <!-- clear -->
        <button type="button" class="btn btn-sm btn-danger" *ngIf="products.length > 0" (click)="clearProducts()">
          <span i18n>Clear</span>
          <fa-icon class="ml-1" [icon]="icons.clear"></fa-icon>
        </button>
        <!-- Favorite -->
        <!-- not implemented
        <button type="button" class="btn btn-sm btn-info ml-1" *ngIf="products.length > 0">
          <span i18n>Favor</span>
          <fa-icon class="ml-1" [icon]="icons.favor"></fa-icon>
        </button>
        -->
      </div>
      <hr class="my-2">
      <div class="text-muted" *ngIf="products.length === 0">
        - <small i18n>Use the above buttons to add products</small> -
      </div>
      <div class="card-columns" *ngIf="itemSelector.collapse">
        <div class="card" *ngFor="let product of products">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <div>
                <span>{{product.itemName}}</span>
                <app-item-wiki-link [itemName]="product.itemName"></app-item-wiki-link>
              </div>
              <div>
                <span class="badge badge-pill badge-secondary badge-edit" contenteditable="true" 
                #count [innerText]="product.count" (blur)="product.count = +count.innerText" (keydown)="filterNumberInput($event)">
                </span>
                <fa-icon class="ml-1 clickable" [icon]="icons.increase" (click)="increase(product)"></fa-icon>
                <fa-icon class="clickable" [icon]="icons.decrease" (click)="decrease(product)"></fa-icon>
                <fa-icon class="clickable ml-1" [icon]="icons.remove" (click)="removeProduct(product)"></fa-icon>
              </div>
            </div>
            <div class="semantic-warning">
              <app-item-stock [stock]="stocks[product.itemId]"></app-item-stock>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse shadow" [class.show]="!itemSelector.collapse">
    <div class="card mb-2">
      <h4 class="card-header" [ngSwitch]="itemSelector.component">
        <span *ngSwitchCase="'item-selector'" i18n>Search</span>
        <span *ngSwitchCase="'equipment-upgrade'" i18n>Equipement upgrade proposal</span>
        <span *ngSwitchCase="'fashion-gallery'" i18n>Fashion gallery</span>
      </h4>
      <div class="card-body pt-2">
        <div class="btn-group btn-group-sm mb-2">
          <button type="button" class="btn btn-outline-primary" (click)="confirmSelection()" i18n>OK</button>
          <button type="button" class="btn btn-outline-warning " (click)="cancelSelection()" i18n>Cancel</button>
        </div>
        <div [ngSwitch]="itemSelector.component">
          <div *ngSwitchCase="'item-selector'">
            <app-item-selector (selected)="addToSelection($event)" (unselected)="removeFromSelection($event)"></app-item-selector>
          </div>
          <div *ngSwitchCase="'equipment-upgrade'">
            <app-equipment-upgrade (selected)="addToSelection($event)" (unselected)="removeFromSelection($event)"></app-equipment-upgrade>
          </div>
          <div *ngSwitchCase="'fashion-gallery'">
            <app-fashion-gallery craftableOnly="true" (selected)="addToSelection($event)" (unselected)="removeFromSelection($event)"></app-fashion-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 shadow">
    <h4 class="card-header" i18n>Options</h4>
    <div class="card-body">
      <form>
        <div i18n>Ignore the following item stock</div>
        <div class="form-row">
          <div class="col-auto">
            <div class="form-check">
              <input id="ignore-all-items" class="form-check-input" type="checkbox" name="allStocks" [(ngModel)]="stockExclusion.ALL">
              <label for="ignore-all-items" class="form-check-label" i18n>All items</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input id="ignore-arms" class="form-check-input" type="checkbox" name="armsStocks" [(ngModel)]="stockExclusion.ARMS_INVENTORY">
              <label for="ignore-arms" class="form-check-label" i18n>Arms inventory</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input id="ignore-hq" class="form-check-input" type="checkbox" name="hqStocks" [(ngModel)]="stockExclusion.HIGH_QUALITY">
              <label for="ignore-hq" class="form-check-label" i18n>High quality</label>
            </div>
          </div>
        </div>
        <!--
        <div i18n>
          Do not craft items can buy from vendors in:
        </div>
        <div class="form-row">
          <div class="col-auto">
            <div class="form-check">
              <input id="no-craft-main-city-vendor-item" class="form-check-input" type="checkbox" name="noCraftMainCityVendorItem">
              <label for="no-craft-main-city-vendor-item" class="form-check-label" i18n>Main city</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input id="no-craft-uptown-vendor-item" class="form-check-input" type="checkbox" name="noCraftUptownVendorItem">
              <label for="no-craft-uptown-vendor-item" class="form-check-label" i18n>Uptown</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input id="no-craft-beast-vendor-item" class="form-check-input" type="checkbox" name="noCraftBeastVendorItem">
              <label for="no-craft-beast-vendor-item" class="form-check-label" i18n>Beast tribe</label>
            </div>
          </div>
        </div>
        -->
      </form>

      <!-- dedicated ban panel -->
      <div>
        <div>Collecting Ban</div>
        <div class="d-flex">
          <div class="card text-small" *ngFor="let item of collectingBan" (click)="removeFromCollectingBan(item);calculate()">
            <div class="card-body p-2">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pl-3 mb-2">
    <button type="button" class="btn btn-primary" [disabled]="products.length == 0" (click)="calculate()">
      <span i18n>Calculate</span>
      <fa-icon class="ml-1" [icon]="icons.calculate"></fa-icon>
    </button>
  </div>

  <div class="solution" *ngIf="craftingPlan">
    <div class="card mb-2 shadow">
      <h4 class="card-header" i18n>Raw to obtain</h4>
      <div class="card-body">
        <div class="semantic-danger">
          <app-bom [bom]="craftingPlan.solution.raw" stockInfo="disabled" [ban]="collectingBan" (banStateChanged)="changeCollectingBan($event)"></app-bom>
        </div>
      </div>
    </div>
    <div class="card mb-2 shadow">
      <h4 class="card-header" i18n>Inventory provided</h4>
      <div class="card-body">
        <div class="semantic-info">
          <app-bom [bom]="craftingPlan.solution.fromInventory"></app-bom>
        </div>
      </div>
    </div>
    <div class="card mb-2 shadow">
      <h4 class="card-header" i18n>Procedure</h4>
      <div class="list-group crafting-procedure">
        <div class="list-group-item" *ngFor="let step of craftingPlan.solution.procedure; index as ordinal">
          <div class="row">
            <div class="col-2 pt-2">#{{ordinal + 1}} {{step.job}}</div>
            <div class="col-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let action of step.actions">
                  <div class="d-flex justify-content-between">
                    <span>{{action.product.itemName}}</span>
                    <span class="badge badge-pill badge-dark">{{action.product.count}}</span>
                  </div>
                  <div>
                    <span>Lv.{{action.recipe.spec.level}}</span>
                    <fa-icon [icon]="icons.star" *ngFor="let i of [1,2,3,4].slice(0, action.recipe.spec.stars)"></fa-icon>
                    <span class="ml-1" [class.collapse]="action.recipe.notebookCategory.id === 0">{{action.recipe.notebookCategory.name}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="card mb-2">
      <h4 class="card-header" i18n>Crafting Table</h4>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Step</th>
              <th *ngFor="let job of jobsOf(craftingPlan.solution)">{{job}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of craftingPlan.solution.craftTable.rows; index as i">
              <td>#{{i + 1}}</td>
              <td *ngFor="let job of jobsOf(craftingPlan.solution)">
                <ul class="list-group" *ngIf="row.components[job]">
                  <li class="list-group-item list-group-item-secondary p-1 d-flex justify-content-between align-items-center" *ngFor="let material of row.components[job].materials">
                    {{material.itemName}}
                    <span class="badge badge-pill badge-danger">{{material.count}}</span>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    -->
  </div>
</div>