<div class="clickable" [class.text-success]="serverStatus === 'up'" [class.text-danger]="serverStatus === 'down'">
    <fa-icon [icon]="icons.indicator" transform="rotate-{{busyDegree}}" (click)="toggleConnector()"></fa-icon>
</div>
