<div>
  <div class="row">
    <div class="col-md-2">
      <ngb-accordion activeIds="player-panel">
        <ngb-panel id="player-panel" title="Player" i18n-title>
          <ng-template ngbPanelContent>
            <div class="nav nav-pills flex-column pl-2">
                <div class="nav-item" *ngFor="let inv of inventories">
                  <button class="nav-link btn btn-link text-capitalize" [class.active]="selectedInventory === inv" (click)="select(inv)" i18n>
                    {inv.name, select, bag {bag} arms {arms} crystal {crystals} equipments {equipments} misc {misc} chocobo {chocobo}}
                  </button>
                </div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Retainers" i18n-title>
          <ng-template ngbPanelContent>
            <div class="nav nav-pills flex-column pl-2">
              <div class="nav-item" *ngFor="let inv of retainers">
                <button class="nav-link btn btn-link" [class.active]="selectedInventory === inv" (click)="select(inv)">{{inv.name}}</button>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col" *ngIf="selectedInventory">
      <app-inventory-detail [inventory]="selectedInventory"></app-inventory-detail>
      <!--<app-inventory [inventories]="selectedInventory.listing"></app-inventory>-->
    </div>
  </div>
</div>