<div *ngIf="pc === null" i18n>
  Please select a player character
</div>
<div *ngIf="pc">
  <div class="form-check">
    <input id="filter-craftable" type="checkbox" class="form-check-input" name="craftableOnly" [(ngModel)]="craftableOnly">
    <label for="filter-craftable" class="form-check-label" i18n>craftable</label>
  </div>
  <div class="mb-2" *ngFor="let jobCat of jobCategories">
    <div i18n>{jobCat.name, select, DoW {Discipline Of War} DoM {Discipline of Magic} DoL {Discipline of Land} DoH {Discipline of Hand} other {{{jobCat.name}}}}</div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn" *ngFor="let jobState of jobStatesOf(pc, jobCat)" 
      [class.btn-outline-secondary]="!isCurrentJob(pc, jobState.job)"
      [class.btn-outline-primary]="isCurrentJob(pc, jobState.job)"
      [class.font-weight-bold]="isCurrentJob(pc, jobState.job)"
      [class.active]="targetJob && targetJob.id === jobState.job.id"
      [disabled]="jobState.level === 0"
      (click)="fetchProposal(jobState.job)">
        {{jobState.job.name}}Lv.{{jobState.level}}
      </button>
    </div>
  </div>
  <div *ngIf="proposal">
    <div class="row" *ngFor="let slot of slots">
      <div class="col-1 row-title pt-2 pr-0 text-capitalize" i18n>{slot, select,
        MAIN_HAND {main-hand} OFF_HAND {off-hand} HEAD {head} BODY {body} HANDS {hands} WAIST {waist} LEGS {legs} FOOTS {foots}
        EARS {ears} NECK {neck} WRIST {wrist} FINGER1 {finger1} FINGER2 {finger2}}</div>
      <div class="col pl-0">
        <div class="card-columns">
          <div class="card text-black bg-light" *ngFor="let item of candidatesFor(proposal, slot)">
            <div class="card-body p-2">
              <div class="d-flex justify-content-between">
                <div>
                  <span>{{item.name}}</span>
                  <app-item-wiki-link [item]="item"></app-item-wiki-link>
                </div>
                <fa-icon [icon]="icons.check" [class.text-success]="selectionState.get(item)" (click)="toggleSelection(item)"></fa-icon>
              </div>
              <div>
                <span>Lv.{{item.level}}</span>
                <fa-icon *ngIf="item.craftable" [icon]="icons.craftable" class="ml-1"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>