<div ngbDropdown>
  <div class="btn-group">
    <button class="btn btn-outline-light font-weight-bold" ngbDropdownToggle>
      {{currentPlayerCharacterKey}}
    </button>
    <button class="btn btn-link text-light">
      <fa-icon [icon]="icons.refresh" (click)="notifyUpdate(currentPlayerCharacterKey)"></fa-icon>
    </button>
  </div>
  <div ngbDropdownMenu>
    <button class="dropdown-item text-muted" (click)="unselect()" i18n>None</button>
    <button class="dropdown-item font-weight-bold" *ngFor="let pcKey of pcKeys" (click)="select(pcKey)">{{pcKey}}</button>
  </div>
</div>