/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: rgb(245, 246, 250)
}

.app-root {
    background-color: rgb(245, 246, 250)
}

.clickable {
    cursor: pointer;
}

.func-panel {
    background-color: rgb(255, 255, 255)
}