<div>
  <form class="form-inline mb-2">
    <div class="btn-group btn-group-sm mr-2">
      <button *ngFor="let type of catalog" type="button" class="btn btn-outline-info"
       [class.active]="slot === type" (click)="slot = type" i18n>{type, select, HEAD {head} BODY {body} HANDS {hands} WAIST {waist} LEGS {legs} FOOTS {foots}}</button>
    </div>
    <div class="form-check">
      <input id="filter-craftable" class="form-check-input" type="checkbox" name="craftableOnly" [(ngModel)]="craftableOnly">
      <label for="filter-craftable" class="form-check-label" i18n>craftable</label>
    </div>      
  </form>
  <div class="row">
    <!-- <div class="col-1 row-title pt-2 pr-0 text-capitalize" i18n>{slot, select, HEAD {head} BODY {body} HANDS {hands} WAIST {waist} LEGS {legs} FOOTS {foots}}</div> -->
    <div class="col pl-0">
      <div class="card-columns">
        <div class="card text-black bg-light" *ngFor="let item of items">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <div>
                <span>{{item.name}}</span>
                <app-item-wiki-link [item]="item"></app-item-wiki-link>
              </div>
              <fa-icon [icon]="icons.check" [class.text-success]="selectionState.get(item)" (click)="toggleSelection(item)"></fa-icon>
            </div>
            <div>
              <span>Lv.{{item.level}}</span>
              <fa-icon *ngIf="item.craftable" [icon]="icons.craftable" class="ml-1"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>